.content-sec {
	margin-top: 50px;
	.content {
		h3 {
			color: #17191F;
			font-size: 20px;
			font-weight: 600;
			line-height: 28px;
		}
		a {
			color: #1049A9;
		}
		p {
			font-size: 16px;
			margin-bottom: 16px;
			line-height: 20px;
			margin-top: 12px;
		}
	}
}
