<sly data-sly-use.multifield="com.Worldvision.core.models.EventCardsModel" />
<section class="content-sec">
     <div class="content padding">
         <h2>${multifield.title @ context='html'}</h2>
         <p>${multifield.description @ context='html'}</p>
     </div>
 </section>

 <section class="calendar-section padding">
     <div class="calendar_card_container">
     <ul data-sly-list="${multifield.multifields}">
         <div class="calendar_card">
             <div class="card_banner">
             
                 <img src="${item.image}" />
             </div>
             <div class="card_content">
                 <h3>${item.atitle @ context='html'}</h3>
                 <p>${item.adescription @ context='html'}</p>

             </div>
             <span>${item.day}</span>
         </div>
         </ul>
     </div>
     
 </section>